@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Montserrat");

/*GLOBAL VARIABLE*/
:root {
    /*BLUE TONE*/
    --hmq-blue: #002554;
    --hmq-blue-5: #000F21;
    --hmq-blue-4: #001A3b;
    --hmq-blue-3: #00306E;
    --hmq-blue-2: #003B87;
    --hmq-blue-1: #0047A1;
    /*END BLUE TONE*/

    /*YELLOW TONE*/
    --hmq-yellow: #EABE3F;
    --hmq-yellow-5: #DEAB18;
    --hmq-yellow-4: #E7B628;
    --hmq-yellow-3: #EDC656;
    --hmq-yellow-2: #EFCE6D;
    --hmq-yellow-1: #F2D584;
    /*END YELLOW TONE*/

    /*RED TONE*/
    --hmq-red: #F80000;
    --hmq-red-5: #C50000;
    --hmq-red-4: #DF0000;
    --hmq-red-3: #FF1313;
    --hmq-red-2: #FF2C2C;
    --hmq-red-1: #FF4646;
    /*END TONE*/

    /*GREEN TONE*/
    --hmq-green: #008000;
    --hmq-green-5: #004D00;
    --hmq-green-4: #006700;
    --hmq-green-3: #009A00;
    --hmq-green-2: #00B300;
    --hmq-green-1: #00Cd00;
    /*END GREEN TONE*/

    /*SOCIAL MEDIA COLORS*/
    --hmq-youtube: #FF0000;
    --hmq-tiktok: #010101;
    --hmq-twitter: #1DA1F2;
    --hmq-facebook: #3B5998;
    --hmq-whatsapp: #25D366;
    --hmq-instagram: #C32AA3;
    /*END SOCIAL MEDIA COLORS*/

    /*OTHER COLORS*/
    --hmq-gray: #8A8D8F;
    --hmq-light-gray: #E9E8EA;
    --hmq-scrollbar: #A8A8A8;
    --hmq-insurers-color: #002452;
    /*END OTHER COLORS*/

    /*GRAYSCALE*/
    --hmq-white: #FFFFFF;
    --hmq-black: #000000;
    --hmq-gray-900: #0A0A0A;
    --hmq-gray-800: #141414;
    --hmq-gray-700: #1F1F1F;
    --hmq-gray-600: #292929;
    --hmq-gray-500: #333333;
    --hmq-gray-400: #3D3D3D;
    --hmq-gray-300: #474747;
    --hmq-gray-200: #525252;
    --hmq-gray-100: #5C5C5C;
    /*END GRAYSCALE*/

    /*OPACITY*/
    --hmq-opacity-20: .2;
    --hmq-opacity-30: .3;
    --hmq-opacity-40: .4;
    --hmq-opacity-50: .5;
    --hmq-opacity-60: .6;
    --hmq-opacity-full: 1;
    /*END OPACITY*/

    /*FONTS*/
    --hmq-primary-font: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --hmq-secondary-font: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /*END FONTS*/

    /*TEXT WEIGHT*/
    --hmq-weight-900: 900;
    --hmq-weight-700: 700;
    --hmq-weight-500: 500;
    --hmq-weight-300: 300;
    --hmq-weight-100: 100;
    /*END TEXT WEIGHT*/

    /*BREAKS*/
    --hmq-break-none: 0;
    --hmq-break-5: .5rem;
    --hmq-break-1: 1rem;
    --hmq-break-15: 1.5rem;
    /*END BREAKS*/

    /*LINE HEIGHT*/
    --hmq-line-height-1: 1;
    --hmq-line-height-15: 1.5;
    --hmq-line-height-2: 2;
    /*END LINE HEIGHT*/
}
/*END GLOBAL VARIABLE*/

/* RESET DEFAULT SETTINGS */
html {
    font-size: 62.5%; /*RESET FOR REMS: 62.5% = 10px TO 16px*/
}
body {
    margin: var(--hmq-break-none);
    padding: var(--hmq-break-none);
    color: var(--hmq-gray-700);
    font-family: var(--hmq-primary-font);
    background-color: var(--hmq-white);
}
body::-webkit-scrollbar{
    -webkit-appearance: none;
}
body::-webkit-scrollbar-thumb{
    border-radius: .75rem;
    border: .1rem solid var(--hmq-light-gray);
    background-color: var(--hmq-scrollbar);
}
body::-webkit-scrollbar-track{
    border-radius: .75rem;
}
body::-webkit-scrollbar:vertical{
    width: .95rem;
}
body::-webkit-scrollbar:horizontal{
    height: .95rem;
}
body::-webkit-scrollbar-button:increment, .body::-webkit-scrollbar-button{
    display: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: calc(2 * var(--hmq-break-1)) var(--hmq-break-none);
    font-family: var(--hmq-secondary-font);
    line-height: var(--hmq-line-height-15);
    font-weight: var(--hmq-weight-500);
    text-align: center;
}
p {
    margin: var(--hmq-break-none);
    color: var(--hmq-gray-500);
    font-weight: var(--hmq-weight-500);
    font-family: var(--hmq-secondary-font);
    text-align: justify;
    font-size: 1.6rem;
    line-height: 2;
}
ul {
    margin: var(--hmq-break-none);
    padding: var(--hmq-break-none);
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--hmq-gray-700);
}
.hmq-btn-default {
    line-height: 1.5;
    font-size: 1.8rem;
    text-align: center;
    display: inline-block;
    border-radius: 1.25rem;
    padding: var(--hmq-break-1) var(--hmq-break-15);
    font-weight: var(--hmq-weight-500);
    text-decoration: none;
}
@media (min-width: 576px) {

}
@media (min-width: 768px) {

}
@media (min-width: 992px) {
    .hmq-btn-default {
        font-size: 2.4rem;
        padding: var(--hmq-break-1) var(--hmq-break-15);
    }
}
@media (min-width: 1200px) {

}
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1340px;
    }
}
@media (min-width: 1600px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1540px;
    }
}
/* RESET DEFAULT SETTINGS */

/*NAVBAR*/
.navbar {
    box-shadow: 0 .25rem .75rem 0 rgba(0, 0, 0, .2), 0 .5rem 1rem 0 rgba(0, 0, 0, .2);
}
.hmq-container-navbar {
    padding: var(--hmq-break-none) calc(1 * var(--hmq-break-1));
}
.hmq-navbar-logo {
    height: 5rem;
    margin: var(--hmq-break-none);
    padding: var(--hmq-break-none) var(--hmq-break-5);
}
.hmq-navbar-logo-img {
    height: 100%;
}
.hmq-navbar-btn {
    padding: calc(1.5 * var(--hmq-break-5)) calc(1.5 * var(--hmq-break-5)) calc(1.5 * var(--hmq-break-5)) calc(1.5 * var(--hmq-break-5));
    font-size: 2.8rem;
    text-decoration: none;
    color: var(--hmq-gray-100);
    background-color: transparent;
    border: .1rem solid transparent;
    line-height: var(--hmq-line-height-15);
}
.hmq-navbar-btn:hover {
    color: var(--hmq-blue);
}
@media (min-width: 576px) {
    .hmq-container-navbar {
        padding: var(--hmq-break-none) calc(1.5 * var(--hmq-break-1));
    }
}
@media (min-width: 768px) {
    .hmq-container-navbar {
        padding: var(--hmq-break-none) calc(2.5 * var(--hmq-break-1));
    }
    .hmq-navbar-logo {
        height: 6.5rem;
    }
    .hmq-navbar-btn {
        padding: calc(1.5 * var(--hmq-break-5)) calc(10 * var(--hmq-break-1)) calc(1.5 * var(--hmq-break-5)) calc(1.5 * var(--hmq-break-5));
    }
}
@media (min-width: 992px) {
    .hmq-container-navbar {
        padding: var(--hmq-break-none) calc(3 * var(--hmq-break-1));
    }
}
@media (min-width: 1200px) {

}
@media (min-width: 1400px) {
    .hmq-container-navbar {
        padding: var(--hmq-break-none) calc(4.5 * var(--hmq-break-1));
    }
}
/*END NAVBAR*/

/*ANIMATIONS PHONE*/
.hmq-animation-phone {
    display: flex;
    justify-content: center;
}
.hmq-animation-phone li {
    margin: var(--hmq-break-none);
}
.hmq-animation-phone a {
    position: relative;
    display: block;
    overflow: hidden;
}
.hmq-animation-phone a span {
    transition: transform .75s ease-out;
}
.hmq-animation-phone a span:first-child {
    display: inline-block;
    color: var(--hmq-gray-100);
    padding: calc(1.5 * var(--hmq-break-5)) calc(1.5 * var(--hmq-break-5)) calc(1.5 * var(--hmq-break-5)) calc(1.5 * var(--hmq-break-5));
}
.hmq-animation-phone a span:last-child {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--hmq-gray-100);
    font-weight: var(--hmq-weight-900);
    line-height: var(--hmq-line-height-15);
    transform: translateY(-100%);
}
.hmq-animation-phone i {
    font-size: 2.8rem;
    line-height: var(--hmq-line-height-15);
}
@media (min-width: 576px) {

}
@media (min-width: 768px) {
    .hmq-animation-phone a span:first-child {
        padding: calc(1.5 * var(--hmq-break-5)) calc(1.5 * var(--hmq-break-5)) calc(1.5 * var(--hmq-break-5)) calc(10 * var(--hmq-break-1));
    }
    .hmq-animation-phone a:hover span:first-child {
        color: var(--hmq-blue);
        transform: translateY(100%);
    }
    .hmq-animation-phone a:hover span:last-child,
    .hmq-animation-phone[data-animation] a:hover span:last-child {
        transform: none;
        color: var(--hmq-blue);
        font-weight: var(--hmq-weight-900);
        height: 5.7rem;
    }
    .hmq-animation-phone[data-animation="to-top"] a span:last-child {
        transform: translateY(100%);
    }
    .hmq-animation-phone[data-animation="to-top"] a:hover span:first-child {
        transform: translateY(-100%);
    }
    .hmq-animation-phone[data-animation="to-right"] a span:last-child {
        transform: translateX(-100%);
    }
    .hmq-animation-phone[data-animation="to-right"] a:hover span:first-child {
        transform: translateX(100%);
    }
    .hmq-animation-phone[data-animation="to-left"] a span:last-child {
        transform: translateX(100%);
    }
    .hmq-animation-phone[data-animation="to-left"] a:hover span:first-child {
        transform: translateX(-100%);
    }
}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}
@media (min-width: 1400px) {

}
/*END ANIMATIONS PHONE*/

/*OFFCANVAS HEADER*/
.offcanvas {
    --bs-offcanvas-width: 36rem;
    --bs-offcanvas-box-shadow: 0 .25rem .75rem 0 rgba(0, 0, 0, .2), 0 .5rem 1rem 0 rgba(0, 0, 0, .2);
    transition: transform .75s ease-in-out;
}
.hmq-offcanvas-header {
    padding: var(--hmq-break-1) calc(2 * var(--hmq-break-1)) Var(--hmq-break-1) var(--hmq-break-5);
}
.hmq-offcanvas-logo {
    height: 5rem;
    margin: var(--hmq-break-none);
    padding: var(--hmq-break-none) var(--hmq-break-5);
}
.hmq-close-btn {
    width: 4.5rem;
    height: 4.5rem;
    font-size: 2.8rem;
    color: var(--hmq-gray);
    margin: var(--hmq-break-none);
}
@media (min-width: 576px) {
    .hmq-carousel-main-container {
        height: 55rem;
    }
}
@media (min-width: 768px) {
    .hmq-offcanvas-header{
        padding: var(--hmq-break-15) calc(2 * var(--hmq-break-1)) var(--hmq-break-15) var(--hmq-break-5);
    }
    .hmq-offcanvas-logo {
        height: 4.5rem;
        margin: var(--hmq-break-none);
        padding: var(--hmq-break-none) var(--hmq-break-5);
    }
}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}
@media (min-width: 1400px) {
    .hmq-carousel-main-container {
        height: 70rem;
    }
}
/*END OFFCANVAS HEADER*/

/*OFFCANVAS BODY*/
.hmq-offcanvas-body {
    padding: var(--hmq-break-none) var(--hmq-break-none) var(--hmq-break-1) var(--hmq-break-none);
    background-color: var(--hmq-light-gray);
}
.hmq-offcanvas-nav {
    display: block;
    padding: var(--hmq-break-1) var(--hmq-break-1) var(--hmq-break-1) calc(2 * var(--hmq-break-1));
    background-color: transparent;
    transition: color .35s ease-in-out, box-shadow .35s ease-in-out;
}
.hmq-offcanvas-nav-item {
    font-size: 2rem;
    color: var(--hmq-blue-4);
    display: block;
    line-height: 2;
    font-weight: var(--hmq-weight-300);
}
.hmq-offcanvas-nav:hover {
    box-shadow: inset 36rem 0 0 0 var(--hmq-blue);
}
.hmq-offcanvas-nav:hover .hmq-offcanvas-nav-item {
    color: var(--hmq-white);
}
/*END OFFCANVAS BODY*/

/*MAIN CAROUSEL*/
.hmq-carousel-main-container {
    height: 45rem;
    padding: calc(4 * var(--hmq-break-1)) calc(2 * var(--hmq-break-1));
}
.hmq-carousel-image-1 {
    background: url("../image/carousel/hmq-common-area-main.jpeg") center center;
    background-size: cover;
}
.hmq-carousel-image-2 {
    background: url("../image/carousel/maternity.jpg") center center;
    background-size: cover;
}
.hmq-carousel-image-3 {
    background: url("../image/carousel/directory.jpg") center center;
    background-size: cover;
}
.hmq-carousel-main-image-1 {
    background-image: linear-gradient(rgba(0, 0, 0, var(--hmq-opacity-60)), rgba(0, 0, 0, var(--hmq-opacity-60))), url("../image/carousel/hmq-common-area-main.jpeg");
    background-position: center center;
    background-size: cover;
}
.hmq-carousel-main-image-2 {
    background-image: linear-gradient(rgba(0, 0, 0, var(--hmq-opacity-60)), rgba(0, 0, 0, var(--hmq-opacity-60))), url("../image/carousel/maternity.jpg");
    background-position: center center;
    background-size: cover;
}
.hmq-carousel-main-image-3 {
    background-image: linear-gradient(rgba(0, 0, 0, var(--hmq-opacity-60)), rgba(0, 0, 0, var(--hmq-opacity-60))), url("../image/carousel/directory.jpg");
    background-position: center center;
    background-size: cover;
}
.hmq-carousel-indicators {
    margin-bottom: .5rem;
}
.hmq-carousel-indicators [data-bs-target] {
    width: 1rem;
    height: 1rem;
    margin-right: calc(1.15 * var(--hmq-break-1));
    margin-left: calc(1.15 * var(--hmq-break-1));
    border-radius: 50%;
    background-color: var(--hmq-white);
}
.hmq-carousel-title h2 {
    color: var(--hmq-white);
    font-size: 3.4rem;
    text-transform: uppercase;
    font-weight: var(--hmq-weight-700);
}
.hmq-carousel-message p {
    font-size: 2rem;
    text-align: center;
    color: var(--hmq-white);
}
.hmq-carousel-btn a {
    color: var(--hmq-white);
    background-color: var(--hmq-blue);
    transition: box-shadow .5s ease-in-out;
}
.hmq-carousel-btn a:hover {
    box-shadow: inset 25rem 0 0 0 var(--hmq-blue-1);
}
@media (min-width: 576px) {

}
@media (min-width: 768px) {
    .hmq-carousel-main-container {
        height: 55rem;
        padding: calc(4 * var(--hmq-break-1)) calc(4 * var(--hmq-break-1));
    }
    .hmq-carousel-title h2 {
        font-size: 4.4rem;
    }
    .hmq-carousel-message p {
        font-size: 2.8rem;
    }
    .hmq-carousel-btn a {
        font-size: 2rem;
    }
}
@media (min-width: 992px) {
    .hmq-carousel-main-container {
        background-image: none;
        background-color: var(--hmq-light-gray);
        padding: calc(4 * var(--hmq-break-1)) calc(3 * var(--hmq-break-1));
    }
    .hmq-carousel-title h2 {
        color: var(--hmq-blue-4);
    }
    .hmq-carousel-message p {
        color: var(--hmq-gray-500);
    }
    .hmq-carousel-indicators [data-bs-target] {
        background-color: var(--hmq-blue-4);
    }
    .hmq-carousel-btn a {
        font-size: 2.4rem;
    }
}
@media (min-width: 1200px) {

}
@media (min-width: 1400px) {
    .hmq-carousel-main-container {
        height: 65rem;
    }
}
@media (min-width: 1600px) {
    .hmq-carousel-main-container {
        padding: calc(5 * var(--hmq-break-1)) calc(5 * var(--hmq-break-1));
    }
    .hmq-carousel-title h2 {
        font-size: 6rem;
    }
    .hmq-carousel-message p {
        font-size: 3.2rem;
    }
}
.hmq-animation-top {
    position: relative;
    animation: hmq-animation-top 1.5s ease;
}
.hmq-animation-left {
    position: relative;
    animation: hmq-animation-left 1.5s ease;
}
@keyframes hmq-animation-top {
    0% {
        opacity: 0;
        transform: translateY(80rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes hmq-animation-left {
    0% {
        opacity: 0;
        transform: translateX(80rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
/*END MAIN CAROUSEL*/

/*PROMOTIONS*/
.hmq-promo-container {
    background-color: var(--hmq-blue);
    padding: var(--hmq-break-15) var(--hmq-break-1);
}
.hmq-promo-text h2 {
    margin:var(--hmq-break-none);
    color: var(--hmq-white);
    font-size: 2.2rem;
}
.hmq-promo-text a {
    text-decoration: none;
    color: var(--hmq-white);
}
@media (min-width: 576px) {

}
@media (min-width: 768px) {
    .hmq-promo-container {
        padding: calc(2 * var(--hmq-break-1));
    }
    .hmq-promo-text h2 {
        font-size: 4.4rem;
    }
}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}
@media (min-width: 1400px) {

}
/*END PROMOTIONS*/

/*CONTAINER MOSCATI*/
.hmq-moscati-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--hmq-break-5) var(--hmq-break-5) var(--hmq-break-15) var(--hmq-break-5);
}
.hmq-moscati-title h1 {
    margin: var(--hmq-break-none);
    color: var(--hmq-blue-4);
    font-size: 3.8rem;
    font-weight: var(--hmq-weight-700);
    text-transform: uppercase;
}
.hmq-moscati-slogan h3 {
    text-align: center;
    margin: var(--hmq-break-none);
    color: var(--hmq-blue-4);
    font-size: 2rem;
}
.hmq-moscati-txt p {
    margin: var(--hmq-break-15) var(--hmq-break-none);
}
.hmq-moscati-image {
    min-height: 40rem;
    padding: var(--hmq-break-none);
    background: url("../image/Hospital_moscati_2.jpeg") center center;
    background-size: cover;
}
@media (min-width: 576px) {
    .hmq-moscati-container {
        padding: calc(2 * var(--hmq-break-1)) calc(5 * var(--hmq-break-1));
    }
}
@media (min-width: 768px) {
    .hmq-moscati-container {
        padding: calc(3 * var(--hmq-break-1));
    }
    .hmq-moscati-title h1 {
        font-size: 4.4rem;
    }
    .hmq-moscati-slogan h3 {
        font-size: 2.4rem;
    }
    .hmq-moscati-txt p {
        font-size: 2rem;
    }
    .hmq-moscati-image {
        height: 50rem;
    }
}
@media (min-width: 992px) {
    .hmq-moscati-container {
        padding: calc(1 * var(--hmq-break-1));
    }
}
@media (min-width: 1200px) {

}
@media (min-width: 1400px) {
    .hmq-moscati-title h1 {
        font-size: 5.4rem;
    }
    .hmq-moscati-slogan h3 {
        font-size: 3.4rem;
    }
    .hmq-moscati-txt p {
        font-size: 2.4rem;
    }
}
/*END CONTAINER MOSCATI*/

/*INSURERS CAROUSEL*/
.hmq-insurers-title {
    padding: var(--hmq-break-none) var(--hmq-break-1);
    background-color: var(--hmq-insurers-color);
}
.hmq-insurers-title h2 {
    margin: var(--hmq-break-1) var(--hmq-break-none);
    font-size: 3.4rem;
    color: var(--hmq-white);
    font-weight: var(--hmq-weight-500);
}
.hmq-slider {
    width: 100%;
    height: 10rem;
    margin: auto;
    overflow: hidden;
    position: relative;
    background-color: var(--hmq-white);
}
.hmq-slider::before,
.hmq-slider::after {
    z-index: 1;
    content: "";
    width: 5rem;
    height: 10rem;
    position: absolute;
}
.hmq-slider::after {
    top: 0;
    right: 0;
    transform: rotateZ(180deg);
}
.hmq-slider::before {
    left: 0;
    top: 0;
}
.hmq-slider .hmq-slide-track {
    display: flex;
    width: calc(25rem*25);
    animation: hmq-animate-scroll 30s infinite alternate ease-in-out;
}
.hmq-slider .hmq-slide img {
    width: 100%;
    height: 10rem;
}
@keyframes hmq-animate-scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-15.1rem*30));
    }
}
@media (min-width: 576px) {

}
@media (min-width: 768px) {

}
@media (min-width: 992px) {
    .hmq-insurers-title h2 {
        font-size: 4.4rem;
    }
}
@media (min-width: 1200px) {

}
@media (min-width: 1400px) {

}
@media (min-width: 1600px) {
    @keyframes hmq-animate-scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-14.7rem*28));
        }
    }
}
/*END INSURERS CAROUSEL*/

/*CONTAINER SERVICES*/
.hmq-our-service-grid {
    margin: var(--hmq-break-none) auto;
    padding: var(--hmq-break-none) var(--hmq-break-none) calc(2 * var(--hmq-break-15)) var(--hmq-break-none);
    max-width: 105rem;
    display: grid;
    grid-gap: 1.5rem;
    justify-items: center;
}
.hmq-our-services-title h2 {
    color: var(--hmq-blue-4);
    font-size: 3.4rem;
    margin: var(--hmq-break-15) var(--hmq-break-none);
}
.hmq-our-services-icon {
    margin: var(--hmq-break-1) auto var(--hmq-break-1);
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
    background-color: var(--hmq-blue);
    width: 12rem;
    height: 12rem;
}
.hmq-our-services-icon i {
    margin: auto;
    font-size: 6rem;
    color: var(--hmq-white);
}
.hmq-box-shadow {
    margin: calc(1 * var(--hmq-break-1)) var(--hmq-break-none);
    padding: var(--hmq-break-1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 35rem;
    width: 30rem;
    border-radius: 5%;
    background-color: var(--hmq-white);
    box-shadow: 0 0 .75rem 0 var(--hmq-gray-800);
}
.hmq-box-shadow:hover {
    box-shadow: 0 0 1.75rem 0 var(--hmq-blue-1);
}
.hmq-our-service-detail-title h3 {
    margin: var(--hmq-break-none);
    color: var(--hmq-blue-4);
    font-size: 3.4rem;
}
.hmq-our-service-txt {
    margin: auto;
}
@media (min-width: 576px) {

}
@media (min-width: 768px) {
    .hmq-our-service-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 992px) {
    .hmq-our-service-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .hmq-our-services-title h2 {
        font-size: 4.4rem;
    }
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}
/*END CONTAINER SERVICES*/

/*CONTAINER OPINIONS*/
.hmq-opinions-grid {
    margin: var(--hmq-break-none) auto;
    padding: var(--hmq-break-none) var(--hmq-break-none) calc(2 * var(--hmq-break-15)) var(--hmq-break-none);
    max-width: 110rem;
    display: grid;
    grid-gap: 1.2rem;
    justify-items: center;
}
.hmq-opinion-icon {
    margin: var(--hmq-break-1) auto var(--hmq-break-1);
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
    background-color: var(--hmq-blue);
    width: 12.5rem;
    height: 12.5rem;
}
.hmq-opinion-img {
    margin: auto;
    width: 12rem;
    height: 12rem;
}
.hmq-box-shadow-opinions {
    margin: calc(1 * var(--hmq-break-1)) var(--hmq-break-none);
    padding: var(--hmq-break-1);
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 40rem;
    width: 35rem;
    border-radius: 5%;
    background-color: var(--hmq-white);
    box-shadow: 0 0 .75rem 0 var(--hmq-gray-800);
}
.hmq-box-shadow-opinions:hover {
    box-shadow: 0 0 1.75rem 0 var(--hmq-blue-1);
}
.hmq-opinion-detail-title {

}
.hmq-opinion-detail-title h4 {
    margin: var(--hmq-break-none);
    color: var(--hmq-blue-4);
    font-size: 3rem;
}
.hmq-opinion-detail-txt {
    margin-top: calc(3 * var(--hmq-break-1));
}
.hmq-opinion-detail-txt p {
    line-height: 1.5;
    padding: var(--hmq-break-none) var(--hmq-break-1);
}
.hmq-carousel-option-indicators [data-bs-target] {
    width: 1rem;
    height: 1rem;
    margin-right: calc(1.15 * var(--hmq-break-1));
    margin-left: calc(1.15 * var(--hmq-break-1));
    border-radius: 50%;
    background-color: var(--hmq-blue);
}
@media (min-width: 576px) {

}
@media (min-width: 768px) {
    .hmq-opinions-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 992px) {
    .hmq-opinions-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .hmq-our-services-title h2 {
        font-size: 4.4rem;
    }
}
@media (min-width: 1200px) {

}
@media (min-width: 1400px) {

}
/*END CONTAINER OPINIONS*/

/*CONTAINER IMAGE GALLERY*/
.hmq-grid-image-gallery {
    max-width: 110rem;
    margin: var(--hmq-break-15) auto;
    display: grid;
    grid-gap: .5rem;
}
.hmq-image-gallery {
    padding: .5rem;
}
.hmq-image-gallery img {
    width: 100%;
    border-radius: .75rem;
}
@media (min-width: 576px) {

}
@media (min-width: 768px) {
    .hmq-grid-image-gallery  {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 992px) {
    .hmq-grid-image-gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1200px) {

}
@media (min-width: 1400px) {

}
/*END CONTAINER IMAGE GALLERY*/

.hmq-service-pills {
    margin: calc(.5 * var(--hmq-break-5)) var(--hmq-break-none);
    padding: var(--hmq-break-5) var(--hmq-break-1);
    width: 100%;
    height: 6.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--hmq-blue);
    background-color: var(--hmq-white);
    border-bottom-right-radius: .375rem;
    border-top-right-radius: .375rem;
    transition: color .35s ease-in-out, box-shadow .35s ease-in-out;
}
.hmq-service-pills:hover {
    color: var(--hmq-white);
    box-shadow: inset 36rem 0 0 0 var(--hmq-blue-1);
}
.hmq-service-pills.active, .nav-pills .show>.hmq-service-pills {
    color: var(--hmq-white);
    background-color: var(--hmq-blue);
}
.hmq-service-pills-icon i {
    font-size: 3rem;
}
.hmq-service-pills-label label {
    display: none;
}
.hmq-service-tab-pane {
    height: 80vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: var(--hmq-break-none);
}
.hmq-service-tab-pane-title {
    color: var(--hmq-blue);
    font-weight: var(--hmq-weight-700);
    text-align: center;
    font-size: 3.8rem;
}
.hmq-service-tap-pane-txt {
    margin: var(--hmq-break-none);
    padding: var(--hmq-break-none) var(--hmq-break-15);

    color: var(--hmq-gray-500);
    font-weight: var(--hmq-weight-500);
    text-align: justify;
    font-size: 1.6rem;
    line-height: 2;
}
.hmq-service-tap-pane-list {
    color: var(--hmq-gray-500);
    font-weight: var(--hmq-weight-500);
    text-align: justify;
    font-size: 1.6rem;
    line-height: 2;
    list-style: circle;
    padding: var(--hmq-break-none) calc(2 * var(--hmq-break-1)) var(--hmq-break-none) calc(3 * var(--hmq-break-1));
}
.hmq-service-tab-pane::-webkit-scrollbar {
    -webkit-appearance: none;
}
.hmq-service-tab-pane::-webkit-scrollbar-thumb {
    border-radius: .75rem;
    border: .1rem solid var(--hmq-light-gray);
    background-color: var(--hmq-scrollbar);
}
.hmq-service-tab-pane::-webkit-scrollbar-track {
    border-radius: .75rem;
}
.hmq-service-tab-pane::-webkit-scrollbar:vertical {
    width: .95rem;
}
.hmq-service-tab-pane::-webkit-scrollbar:horizontal {
    height: .95rem;
}
.hmq-service-tab-pane::-webkit-scrollbar-button:increment, .body::-webkit-scrollbar-button {
    display: none;
}
@media (min-width: 576px) {

}
@media (min-width: 768px) {

}
@media (min-width: 992px) {
    .hmq-service-pills {
        justify-content: space-between;
    }
    .hmq-service-pills-label label {
        display: block;
        text-align: center;
        font-size: 1.6rem;
        font-weight: var(--hmq-weight-500);
    }
}
@media (min-width: 1200px) {

}
@media (min-width: 1400px) {

}

.hmq-default-container {
    padding: var(--hmq-break-none);
}
.hmq-row-default {
    padding: var(--hmq-break-15);
}
.hmw-default-info-container {
    padding: var(--hmq-break-none) var(--hmq-break-none) var(--hmq-break-none) calc(2 * var(--hmq-break-15));
}
.hmq-image-image {
    min-height: 45rem;
    padding: var(--hmq-break-none);
    background: url("../image/imagen/image_reception.jpg") center center;
    background-size: cover;
}
.hmq-image-laboratory {
    min-height: 45rem;
    padding: var(--hmq-break-none);
    background: url("../image/imagen/laboratory.jpg") center center;
    background-size: cover;
}
.hmq-image-surgeries {
    min-height: 45rem;
    padding: var(--hmq-break-none);
    background: url("../image/imagen/surgeries.jpg") center center;
    background-size: cover;
}
.hmq-image-therapies {
    min-height: 45rem;
    padding: var(--hmq-break-none);
    background: url("../image/imagen/therapies.jpg") center center;
    background-size: cover;
}
.hmq-container-default-title h2 {
    color: var(--hmq-blue-4);
    font-size: 3.4rem;
    text-transform: uppercase;
}
.hmq-container-default-txt p {
    margin: var(--hmq-break-1) var(--hmq-break-none);
}
.hmq-list-default ul {
    padding: var(--hmq-break-none) calc(2 * var(--hmq-break-1)) var(--hmq-break-none) calc(3 * var(--hmq-break-1));
    color: var(--hmq-gray-500);
    line-height: 2;
    font-size: 1.6rem;
    list-style: circle;
}
.hmq-default-grid-photos {
    max-width: 160rem;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
}
.card {
    background-color: dodgerblue;
    color: white;
    padding: 1rem;
    height: 4rem;
}
@media (min-width: 576px) {

}
@media (min-width: 768px) {
    .hmq-default-container {
        padding: var(--hmq-break-15);
    }
    .hmq-default-grid-photos {
        grid-template-columns: repeat(2, 1fr);
    }
    .hmq-text-container-default h2 {
        color: var(--hmq-blue-4);
        font-size: 4.4rem;
    }
}
@media (min-width: 992px) {
    .hmq-default-grid-photos { grid-template-columns: repeat(3, 1fr); }
}
@media (min-width: 1200px) {

}
@media (min-width: 1400px) {

}

/*FOOTER*/
.site-footer {
    background-color: var(--hmq-blue);
    padding: .875rem 0;
    font-size: 1.4rem;
    line-height: 2;
    color: var(--hmq-white);
}
.site-footer hr {
    margin: 1rem 0;
    border-top-color: var(--hmq-white);
    border-top-width: .2rem;
    opacity: 1;
}
.site-footer h6 {
    margin: var(--hmq-break-1) 0 var(--hmq-break-1) 0;
    padding-bottom: .5rem;
    color: var(--hmq-white);
    font-size: 2.4rem;
    font-weight: var(--hmq-weight-700);
    text-transform: uppercase;
    border-bottom: .2rem solid var(--hmq-white);
    font-family: var(--hmq-secondary-font);
    text-align: start;
}
.site-footer a {
    color: var(--hmq-white);
}
.footer-links {
    padding-left: 0;
    list-style: none;
}
.footer-links li {
    display: block;
}
.footer-links a {
    color: var(--hmq-white);
    font-weight: var(--hmq-weight-500);
    font-size: 1.4rem;
    font-family: var(--hmq-secondary-font);
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    padding-left: .525rem;
    color: var(--hmq-yellow-1);
    text-decoration: none;
    transition: .5s;
}
.copyright-text {
    margin: .875rem 0;
    padding: 0 .5rem;
    font-size: 1.4rem;
    color: var(--hmq-white);
}
.footer-link {
    display: block;
    padding: .875rem 0;
    line-height: 1;
    font-size: 1.4rem;
    font-weight: var(--hmq-weight-100);
}
.footer-expand-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-expand-link::after {
    content: "chevron_right";
    flex: 0 1 auto;
    font-family: "Material Icons", serif;
}
.map-responsive {
    margin: 0 0 1rem 0;
    padding-bottom: 15rem;
    height:0;
    overflow:hidden;
    position:relative;
    border-radius: 1.2rem;
}
.map-responsive iframe{
    height:100%;
    width:100%;
    position:absolute;
    border: 0;
    left:0;
    top:0;
}
.social-icons {
    margin: auto 0;
    padding-left: 0;
    list-style: none;
}
.social-icons li {
    display: inline-block;
}
.social-icons li.title {
    text-transform: uppercase;
    color: var(--hmq-white);
    font-weight: var(--hmq-weight-700);
    font-size: 1.2rem;
}
.social-icons a {
    margin: 0 .4rem;
    color: var(--hmq-white);
    font-size: 1.6rem;
    width: 3.4rem;
    height: 3.4rem;
    text-align: center;
    border-radius: 50%;
    line-height: 3.4rem;
    display: inline-block;
    transition: all .2s linear;
    background-color: var(--hmq-blue);
}
.social-icons.size-sm a {
    height: 3.4rem;
    width: 3.4rem;
    font-size: 1.4rem;
    line-height: 3.4rem;
}
.social-icons a.facebook:hover {
    background-color: var(--hmq-facebook);
}
.social-icons a.twitter:hover {
    background-color: var(--hmq-twitter);
}
.social-icons a.instagram:hover {
    background-color: var(--hmq-instagram);
}
.social-icons a.youtube:hover {
    background-color: var(--hmq-youtube);
}
@media (max-width: 768px) {
    .social-icons li.title {
        display: block;
        font-weight: 400;
    }
}
@media (min-width: 1200px) {
    .social-icons a {
        width: 4.4rem;
        height: 4.4rem;
        line-height: 4.4rem;
    }
}
/*END FOOTER*/

.pricing-table {
    background-color: #eee;
    font-family: 'Montserrat', sans-serif;
}
.pricing-table .block-heading {
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}
.pricing-table .block-heading h2 {
    color: #3b99e0;
}
.pricing-table .block-heading p {
    text-align: center;
    max-width: 420px;
    margin: auto;
    opacity: 0.7;
}
.pricing-table .heading {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.pricing-table .item {
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.075);
    border-top: 2px solid #5ea4f3;
    padding: 30px;
    overflow: hidden;
    position: relative;
}
.pricing-table .col-md-5:not(:last-child) .item {
    margin-bottom: 30px;
}
.pricing-table .item button {
    font-weight: 600;
}
.pricing-table .ribbon {
    width: 160px;
    height: 32px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 2px 3px rgba(136, 136, 136, 0.25);
    background: #4dbe3b;
    transform: rotate(45deg);
    position: absolute;
    right: -42px;
    top: 20px;
    padding-top: 7px;
}
.pricing-table .item p {
    text-align: center;
    margin-top: 20px;
    opacity: 0.7;
}
.pricing-table .features .feature {
    font-weight: 600; }
.pricing-table .features h4 {
    text-align: center;
    font-size: 18px;
    padding: 5px;
}
.pricing-table .price h4 {
    margin: 15px 0;
    font-size: 45px;
    text-align: center;
    color: #2288f9;
}
.pricing-table .buy-now button {
    text-align: center;
    margin: auto;
    font-weight: 600;
    padding: 9px 0;
}

.hmq-registration-title {
    font-size: 5rem;
    color: var(--hmq-blue);
}
.hmq-registration-subtitle {
    margin: 1rem 0;
    text-align: start;
    font-size: 2.5rem;
    color: var(--hmq-blue);
}
.hmq-registration-group {
    margin: 1rem 0;
}
.hmq-registration-group label {
    margin: .5rem 0;
    font-size: 1.6rem;
    color: var(--hmq-blue);
}
.hmq-registration-required {
    color: var(--hmq-red-5);
    font-weight: 900;
}
.hmq-registration-group input {
    margin: .5rem 0;
    font-size: 1.6rem;
}
.hmq-registration-group select {
    margin: .5rem 0;
    font-size: 1.6rem;
}
.hmq-registration-group .hmq-registration-button-label {
    color: transparent;
}
.hmq-registration-group button {
    margin: .5rem 0;
    font-size: 1.6rem;
}
.hmq-registration-button-submit {
    min-width: 20rem;
    line-height: 1.5;
    font-size: 1.6rem;
    text-align: center;
    display: inline-block;
    border-radius: 1.25rem;
    padding: var(--hmq-break-1) var(--hmq-break-15);
    font-weight: var(--hmq-weight-500);
    text-decoration: none;
}